services:
  app:
    build: .
    container_name: carwashfrontend-app
    ports:
      - "8082:3000"  # Mapea el puerto 3000 del contenedor al puerto 8082 en el host
    environment:
      - URLLOGIN=http://18.190.176.188:8081/api/Login
      - URLBASE=http://18.190.176.188:8081/api
      - AUTH_SECRET=YHLQMDLGzZ4pW9t2uFj8XQ1kNz5yJmD8L
    networks:
      - carwash-network

networks:
  carwash-network:
    driver: bridge